from pyxmpp2.jid import JID

targetJID = JID('abc@xyz.com')
BotJID = JID('me@bot.com/bot')
irc_config = {
  'server': ('irc.freenode.net', 6667),
  'channel': 'some-channel',
  'nick': 'mynick',
  'host': 'example.org',
  'realname': 'my name',
  # 'password': 'blahblah',
}
password = 'BotJID password'

# vim:se ft=python:
